:root {
    --color-primary: #9B9FF2;
    --color-secondary:#614673 ;
    --color-font: #fff;
    --default-font: "Jersey 10", sans-serif;

}

* {
    

    font-family: var(--default-font);
    font-size: 20px;
}
body {
        background-color: var(--color-primary);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

.button {
    position: relative;
    display: block;
    border: 3px solid var(--color-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-font);
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button::after {
    content: "";
    background-color: var(--color-secondary);
    height: 100%;
    left: -35%;
    top: 0;
    position: absolute;
    transform-origin: bottom left;
    transform: skew(325deg);
    width: 135%;
    z-index: -1;
    transition: all 0.5s ease;

}

.button:hover::after {
    width: 0;
}

.button:hover {
    color: var(--color-secondary);
}
header{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 10px 15px;
    
    
}
.logo{
    font-size: 30px;
    color: var(--color-secondary);
    text-decoration: none;
    margin:0;
    padding:2px 20px;
    color: var(--color-secondary);
    font-size: 45px;
    background:linear-gradient(currentColor,currentColor) no-repeat;
    background-position: 50% 100%;
    background-size: 0% 5px;
    transition: background-size 0.5s;
}

.logo:hover{
    background-size: 75% 5px;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    margin: auto;
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border:solid 5px var(--color-secondary);
    margin: auto;
}
.information{
    margin: 0px 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tittle{
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: var(--color-secondary);
}
.textInfo{
width: 80%;
}
.MainButtons{
    display: grid;
    grid-template-areas: "portfolio portfolio"
                            "services contact";
 list-style: none;
}

.portfolio{
    grid-area: portfolio;
}
.services{
    grid-area: services;
}
.contact{
    grid-area: contact;
}